<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGNzfj69cnQeb8GWqRUbfS3ALpDSKyTyk</string>
	<key>GCM_SENDER_ID</key>
	<string>339448653254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.w360s.wcloudapp</string>
	<key>PROJECT_ID</key>
	<string>vcloud-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>vcloud-mobile.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339448653254:ios:2fda2a0e8e2922de073ec7</string>
</dict>
</plist>